{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

<h1>Profile</h1>

<h2>Welcome back, {{user.username}}</h2>

<a href="/logout" title="Logout">Logout</a>

{# Enter your user profile template here #}

{% endblock %}
